body {
    background-color: rgb(26, 26, 32);
    color: rgb(221, 221, 221);
}

img {
    height: auto;
    width: 60%;
    margin-left: 20%;
}

h1 {
    text-align: center;
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

ul > * {
    margin-top: 4px;
}

li a { 
    color: rgb(35, 35, 243)
}